// Docker Container configuration
// if you on windows, remove "sudo" from commands


// create a network

// -> create dpge/pgadmin4 container (Complete with your email and password)
 docker run -d -p 15432:80 --name your_container_name -e PGADMIN_DEFAULT_EMAIL=any_email -e PGADMIN_DEFAULT_PASSWORD=any_password dpage/pgadmin4

// -> create postgres container docker
sudo docker run -d -p 5432:5432 --name movie-theater -e POSTGRES_USER=db_user -e POSTGRES_PASSWORD=root  postgres


// -> To open postgres bash
docker exec -it ticketsdb bash

// Access http://localhost:15432/ to configure 